openapi: 3.1.0
info:
  title: Travel Planner API
  version: 1.3.0
  description: Versioned `/api/v1/*` surface. Every 2xx body is the standard
    success envelope `{ data, request, asof, version, meta? }`; every non-2xx
    body is RFC 7807 Problem Details plus a closed `code` enum
    (`ApiErrorEnvelope`). See ADR 056.
servers:
  - url: https://travel-planner.app
    description: Production
paths:
  /api/v1/me:
    get:
      summary: Current authenticated user
      security:
        - bearerAuth: []
        - cookieSession: []
      responses:
        "200":
          description: The authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeSuccessEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "403":
          description: Authenticated but not approved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/auth/mobile/start:
    post:
      summary: Begin the mobile server-mediated PKCE flow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileAuthStartRequest"
      responses:
        "200":
          description: Authorise URL + opaque state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthStartSuccessEnvelope"
        "400":
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/auth/mobile/exchange:
    post:
      summary: Exchange the one-time code for a token pair
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileAuthExchangeRequest"
      responses:
        "200":
          description: Access + refresh token pair.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthTokenSuccessEnvelope"
        "400":
          description: Invalid code, expired exchange code, or PKCE mismatch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/auth/mobile/refresh:
    post:
      summary: Rotate the refresh token for a new pair
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileAuthRefreshRequest"
      responses:
        "200":
          description: A new access + refresh token pair.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileAuthTokenSuccessEnvelope"
        "401":
          description: Refresh token reused, expired, revoked, or unknown.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/auth/mobile/revoke:
    post:
      summary: Revoke a refresh-token chain (sign-out)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileAuthRevokeRequest"
      responses:
        "204":
          description: Revoked (idempotent; also 204 for unknown/already-revoked tokens —
            non-revealing).
        "400":
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "429":
          description: Rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips:
    get:
      summary: List the caller's visible trips
      description: Every trip in an organisation the authenticated user belongs to
        (org-scoped visibility), newest-created first, with a derived
        destination date range. Unpaginated in v1 (SPEC-009).
      security:
        - bearerAuth: []
        - cookieSession: []
      responses:
        "200":
          description: The visible trips (empty array when none).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripsListSuccessEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    post:
      summary: Create a trip
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - &a1
          name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: Client-generated retry key scoped to the authenticated user and
            operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTripRequest"
      responses:
        "201":
          description: The created trip.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripSummarySuccessEnvelope"
        "400":
          description: Missing idempotency key or invalid request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "403":
          description: The caller is not a member of the organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: The idempotency key was reused with a different request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}:
    get:
      summary: "Composite trip detail: timeline legs + spend summary"
      description: The trip, its destinations (with per-destination recorded spend),
        committed fixed costs, and the budget-vs-committed/spent summary. 404
        for unknown trips AND trips outside the caller's organisations
        (non-revealing). See SPEC-010.
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Trip id.
      responses:
        "200":
          description: The trip detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetailSuccessEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Unknown trip, or not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    patch:
      summary: Update a trip
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Trip id.
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTripRequest"
      responses:
        "200":
          description: The updated trip.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripSummarySuccessEnvelope"
        "400":
          description: Missing idempotency key or invalid request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Unknown trip, or not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: The idempotency key was reused with a different request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    delete:
      summary: Delete a trip
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Trip id.
        - *a1
      responses:
        "204":
          description: Trip deleted.
        "400":
          description: Missing idempotency key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "403":
          description: Only organization owners can delete trips.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Unknown trip.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: The idempotency key was reused with a different request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/organizations:
    get:
      summary: List the caller's organizations
      security:
        - bearerAuth: []
        - cookieSession: []
      responses:
        "200":
          description: Organization choices and the caller role in each.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationsListSuccessEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/countries:
    get:
      summary: List country references and canonical daily budget suggestions
      security:
        - bearerAuth: []
        - cookieSession: []
      responses:
        "200":
          description: Country references.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountriesListSuccessEnvelope"
        "401":
          description: No valid session or bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/destinations:
    post:
      summary: Add a destination
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDestinationRequest"
      responses:
        "201":
          description: Created destination.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDestinationSuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Trip not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/destinations/{destinationId}:
    patch:
      summary: Update a destination
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: destinationId
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDestinationRequest"
      responses:
        "200":
          description: Updated resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDestinationSuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    delete:
      summary: Delete a destination
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: destinationId
          in: path
          required: true
          schema:
            type: string
        - *a1
      responses:
        "204":
          description: Resource deleted.
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/fixed-costs:
    post:
      summary: Add a fixed cost
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFixedCostRequest"
      responses:
        "201":
          description: Created fixed cost.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripFixedCostSuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Trip not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/fixed-costs/{fixedCostId}:
    patch:
      summary: Update a fixed cost
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: fixedCostId
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFixedCostRequest"
      responses:
        "200":
          description: Updated resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripFixedCostSuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    delete:
      summary: Delete a fixed cost
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: fixedCostId
          in: path
          required: true
          schema:
            type: string
        - *a1
      responses:
        "204":
          description: Resource deleted.
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/spend:
    get:
      summary: List spend entries and canonical financial insight
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Spend entries, category totals, burndown, and budget alerts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripFinancialsSuccessEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Trip not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    post:
      summary: Record destination spend
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpendRequest"
      responses:
        "201":
          description: Created spend entry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendEntrySuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Trip or destination not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
  /api/v1/trips/{id}/spend/{entryId}:
    patch:
      summary: Update a spend entry
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: entryId
          in: path
          required: true
          schema:
            type: string
        - *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSpendRequest"
      responses:
        "200":
          description: Updated resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendEntrySuccessEnvelope"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
    delete:
      summary: Delete a spend entry
      security:
        - bearerAuth: []
        - cookieSession: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: entryId
          in: path
          required: true
          schema:
            type: string
        - *a1
      responses:
        "204":
          description: Resource deleted.
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "404":
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
        "409":
          description: Idempotency conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieSession:
      type: apiKey
      in: cookie
      name: authjs.session-token
  schemas:
    RequestEcho:
      type: object
      properties:
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
        path:
          type: string
          minLength: 1
        path_params:
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: string
        query_params:
          type: object
          propertyNames:
            type: string
          additionalProperties:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
      required:
        - method
        - path
        - path_params
        - query_params
      additionalProperties: false
    ApiError:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
          minLength: 1
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
          minLength: 1
        instance:
          type: string
          minLength: 1
        code:
          type: string
          enum:
            - validation_failed
            - bad_request
            - unauthenticated
            - forbidden
            - not_found
            - conflict
            - user_deleted
            - gone
            - rate_limited
            - internal
            - unavailable
            - invalid_exchange_code
            - pkce_mismatch
            - refresh_reused
            - refresh_expired
            - refresh_revoked
            - refresh_unknown
        details:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - type
        - title
        - status
        - detail
        - instance
        - code
      additionalProperties: false
    ApiErrorEnvelope:
      type: object
      properties:
        error:
          $ref: "#/components/schemas/ApiError"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
      required:
        - error
        - request
        - asof
        - version
      additionalProperties: false
    MeResponse:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        email:
          type: string
          minLength: 1
        name:
          anyOf:
            - type: string
            - type: "null"
        isApproved:
          type: boolean
      required:
        - id
        - email
        - name
        - isApproved
      additionalProperties: false
    MobileAuthStartRequest:
      type: object
      properties:
        code_challenge:
          type: string
          minLength: 43
          maxLength: 128
      required:
        - code_challenge
      additionalProperties: false
    MobileAuthStartResponse:
      type: object
      properties:
        authorise_url:
          type: string
          minLength: 1
        state:
          type: string
          minLength: 1
      required:
        - authorise_url
        - state
      additionalProperties: false
    MobileAuthExchangeRequest:
      type: object
      properties:
        code:
          type: string
          minLength: 1
        code_verifier:
          type: string
          minLength: 43
          maxLength: 128
      required:
        - code
        - code_verifier
      additionalProperties: false
    MobileAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          minLength: 1
        refresh_token:
          type: string
          minLength: 1
        access_expires_at:
          type: string
          minLength: 1
      required:
        - access_token
        - refresh_token
        - access_expires_at
      additionalProperties: false
    MobileAuthRefreshRequest:
      type: object
      properties:
        refresh_token:
          type: string
          minLength: 1
      required:
        - refresh_token
      additionalProperties: false
    MobileAuthRevokeRequest:
      type: object
      properties:
        refresh_token:
          type: string
          minLength: 1
      required:
        - refresh_token
      additionalProperties: false
    TripSummary:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - planning
            - active
            - completed
        totalBudget:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        startDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        endDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        organizationId:
          type: string
          minLength: 1
        updatedAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
      required:
        - id
        - name
        - status
        - totalBudget
        - startDate
        - endDate
        - organizationId
        - updatedAt
      additionalProperties: false
    TripDestination:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        country:
          type: string
          minLength: 1
        city:
          anyOf:
            - type: string
            - type: "null"
        latitude:
          anyOf:
            - type: number
              minimum: -90
              maximum: 90
            - type: "null"
        longitude:
          anyOf:
            - type: number
              minimum: -180
              maximum: 180
            - type: "null"
        startDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        endDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        estimatedBudget:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        comfortLevel:
          type: string
          enum:
            - budget
            - mid
            - luxury
        sortOrder:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        spent:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
      required:
        - id
        - name
        - country
        - city
        - latitude
        - longitude
        - startDate
        - endDate
        - estimatedBudget
        - comfortLevel
        - sortOrder
        - spent
      additionalProperties: false
    TripFixedCost:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        label:
          type: string
          minLength: 1
        amount:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        category:
          type: string
          enum:
            - accommodation
            - activities
            - bills
            - eating-out
            - fuel
            - groceries
            - healthcare
            - insurance
            - shopping
            - subscriptions
            - transport
            - visas
            - other
        date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        sortOrder:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
      required:
        - id
        - label
        - amount
        - category
        - date
        - sortOrder
      additionalProperties: false
    TripSpendSummary:
      type: object
      properties:
        totalBudget:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        fixedCosts:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        allocated:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        available:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        spent:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        isOverAllocated:
          type: boolean
      required:
        - totalBudget
        - fixedCosts
        - allocated
        - available
        - spent
        - isOverAllocated
      additionalProperties: false
    TripDetail:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - planning
            - active
            - completed
        totalBudget:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        startDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        endDate:
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            - type: "null"
        organizationId:
          type: string
          minLength: 1
        updatedAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        destinations:
          type: array
          items:
            $ref: "#/components/schemas/TripDestination"
        fixedCosts:
          type: array
          items:
            $ref: "#/components/schemas/TripFixedCost"
        spend:
          $ref: "#/components/schemas/TripSpendSummary"
      required:
        - id
        - name
        - status
        - totalBudget
        - startDate
        - endDate
        - organizationId
        - updatedAt
        - destinations
        - fixedCosts
        - spend
      additionalProperties: false
    CreateTripRequest:
      type: object
      properties:
        organizationId:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        name:
          type: string
          minLength: 1
          maxLength: 200
        totalBudgetPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
      required:
        - organizationId
        - name
        - totalBudgetPence
      additionalProperties: false
    UpdateTripRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        totalBudgetPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        status:
          type: string
          enum:
            - planning
            - active
            - completed
      required:
        - name
        - totalBudgetPence
        - status
      additionalProperties: false
    OrganizationSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        name:
          type: string
          minLength: 1
        role:
          type: string
          enum:
            - owner
            - member
      required:
        - id
        - name
        - role
      additionalProperties: false
    CountryReferenceSummary:
      type: object
      properties:
        country:
          type: string
          minLength: 1
        alpha2:
          type: string
          minLength: 2
          maxLength: 2
        alpha3:
          type: string
          minLength: 3
          maxLength: 3
        region:
          anyOf:
            - type: string
            - type: "null"
        subregion:
          anyOf:
            - type: string
            - type: "null"
        currency:
          type: string
          enum:
            - GBP
            - USD
            - EUR
            - AUD
        suggestedDailyBudget:
          type: object
          properties:
            budget:
              type: object
              properties:
                amountPence:
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                currency:
                  type: string
                  enum:
                    - GBP
                    - USD
                    - EUR
                    - AUD
              required:
                - amountPence
                - currency
              additionalProperties: false
            mid:
              type: object
              properties:
                amountPence:
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                currency:
                  type: string
                  enum:
                    - GBP
                    - USD
                    - EUR
                    - AUD
              required:
                - amountPence
                - currency
              additionalProperties: false
            luxury:
              type: object
              properties:
                amountPence:
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                currency:
                  type: string
                  enum:
                    - GBP
                    - USD
                    - EUR
                    - AUD
              required:
                - amountPence
                - currency
              additionalProperties: false
          required:
            - budget
            - mid
            - luxury
          additionalProperties: false
      required:
        - country
        - alpha2
        - alpha3
        - region
        - subregion
        - currency
        - suggestedDailyBudget
      additionalProperties: false
    CreateDestinationRequest:
      allOf:
        - type: object
          properties:
            name:
              type: string
              maxLength: 200
            country:
              type: string
              minLength: 1
              maxLength: 100
            city:
              anyOf:
                - type: string
                  minLength: 1
                  maxLength: 100
                - type: "null"
            latitude:
              anyOf:
                - type: number
                  minimum: -90
                  maximum: 90
                - type: "null"
            longitude:
              anyOf:
                - type: number
                  minimum: -180
                  maximum: 180
                - type: "null"
            estimatedBudgetPence:
              type: integer
              exclusiveMinimum: 0
              maximum: 9007199254740991
            comfortLevel:
              type: string
              enum:
                - budget
                - mid
                - luxury
          required:
            - name
            - country
            - city
            - latitude
            - longitude
            - estimatedBudgetPence
            - comfortLevel
          additionalProperties: false
        - type: object
          properties:
            startDate:
              anyOf:
                - type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                - type: "null"
            endDate:
              anyOf:
                - type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                - type: "null"
          required:
            - startDate
            - endDate
          additionalProperties: false
    UpdateDestinationRequest:
      allOf:
        - type: object
          properties:
            name:
              type: string
              maxLength: 200
            country:
              type: string
              minLength: 1
              maxLength: 100
            city:
              anyOf:
                - type: string
                  minLength: 1
                  maxLength: 100
                - type: "null"
            latitude:
              anyOf:
                - type: number
                  minimum: -90
                  maximum: 90
                - type: "null"
            longitude:
              anyOf:
                - type: number
                  minimum: -180
                  maximum: 180
                - type: "null"
            estimatedBudgetPence:
              type: integer
              exclusiveMinimum: 0
              maximum: 9007199254740991
            comfortLevel:
              type: string
              enum:
                - budget
                - mid
                - luxury
          required:
            - name
            - country
            - city
            - latitude
            - longitude
            - estimatedBudgetPence
            - comfortLevel
          additionalProperties: false
        - type: object
          properties:
            startDate:
              anyOf:
                - type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                - type: "null"
            endDate:
              anyOf:
                - type: string
                  pattern: ^\d{4}-\d{2}-\d{2}$
                - type: "null"
          required:
            - startDate
            - endDate
          additionalProperties: false
      $ref: "#/components/schemas/CreateDestinationRequest"
    CreateFixedCostRequest:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 200
        amountPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        category:
          type: string
          enum:
            - accommodation
            - activities
            - bills
            - eating-out
            - fuel
            - groceries
            - healthcare
            - insurance
            - shopping
            - subscriptions
            - transport
            - visas
            - other
        date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      required:
        - label
        - amountPence
        - category
        - date
      additionalProperties: false
    UpdateFixedCostRequest:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 200
        amountPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        category:
          type: string
          enum:
            - accommodation
            - activities
            - bills
            - eating-out
            - fuel
            - groceries
            - healthcare
            - insurance
            - shopping
            - subscriptions
            - transport
            - visas
            - other
        date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      required:
        - label
        - amountPence
        - category
        - date
      additionalProperties: false
    CreateSpendRequest:
      type: object
      properties:
        amountPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        category:
          type: string
          enum:
            - accommodation
            - food
            - transport
            - activities
            - shopping
            - other
        description:
          anyOf:
            - type: string
              maxLength: 500
            - type: "null"
        spentAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        destinationId:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      required:
        - amountPence
        - category
        - description
        - spentAt
        - destinationId
      additionalProperties: false
    UpdateSpendRequest:
      type: object
      properties:
        amountPence:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        category:
          type: string
          enum:
            - accommodation
            - food
            - transport
            - activities
            - shopping
            - other
        description:
          anyOf:
            - type: string
              maxLength: 500
            - type: "null"
        spentAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      required:
        - amountPence
        - category
        - description
        - spentAt
      additionalProperties: false
    SpendEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        destinationId:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        amount:
          type: object
          properties:
            amountPence:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
            currency:
              type: string
              enum:
                - GBP
                - USD
                - EUR
                - AUD
          required:
            - amountPence
            - currency
          additionalProperties: false
        category:
          type: string
          enum:
            - accommodation
            - food
            - transport
            - activities
            - shopping
            - other
        description:
          anyOf:
            - type: string
            - type: "null"
        spentAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        createdAt:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
      required:
        - id
        - destinationId
        - amount
        - category
        - description
        - spentAt
        - createdAt
      additionalProperties: false
    TripFinancials:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/SpendEntry"
        categoryTotals:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum:
                  - accommodation
                  - food
                  - transport
                  - activities
                  - shopping
                  - other
              amountPence:
                type: integer
                minimum: 0
                maximum: 9007199254740991
            required:
              - category
              - amountPence
            additionalProperties: false
        burndown:
          anyOf:
            - type: object
              properties:
                idealLine:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        pattern: ^\d{4}-\d{2}-\d{2}$
                      amountPence:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - date
                      - amountPence
                    additionalProperties: false
                actualLine:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        pattern: ^\d{4}-\d{2}-\d{2}$
                      amountPence:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - date
                      - amountPence
                    additionalProperties: false
                projectedLine:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        pattern: ^\d{4}-\d{2}-\d{2}$
                      amountPence:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - date
                      - amountPence
                    additionalProperties: false
                dailyPacePence:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                targetPacePence:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                paceRatio:
                  type: number
                  minimum: 0
                projectedExhaustionDate:
                  anyOf:
                    - type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    - type: "null"
              required:
                - idealLine
                - actualLine
                - projectedLine
                - dailyPacePence
                - targetPacePence
                - paceRatio
                - projectedExhaustionDate
              additionalProperties: false
            - type: "null"
        alerts:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - over-pace
                  - projected-exhaustion
                  - single-day-spike
              message:
                type: string
                minLength: 1
              severity:
                type: string
                enum:
                  - warning
                  - danger
            required:
              - type
              - message
              - severity
            additionalProperties: false
      required:
        - entries
        - categoryTotals
        - burndown
        - alerts
      additionalProperties: false
    MeSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/MeResponse"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    MobileAuthStartSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/MobileAuthStartResponse"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    MobileAuthTokenSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/MobileAuthTokenResponse"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripsListSuccessEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TripSummary"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripDetailSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TripDetail"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripSummarySuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TripSummary"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    OrganizationsListSuccessEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationSummary"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    CountriesListSuccessEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CountryReferenceSummary"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripDestinationSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TripDestination"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripFixedCostSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TripFixedCost"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    SpendEntrySuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/SpendEntry"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
    TripFinancialsSuccessEnvelope:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TripFinancials"
        request:
          $ref: "#/components/schemas/RequestEcho"
        asof:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$
        version:
          type: string
          pattern: ^\d+\.\d+\.\d+$
        meta:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - data
        - request
        - asof
        - version
      additionalProperties: false
